@font-face {
    font-family: 'Pocket Calculator';
    src: url(pocket_calcuatlor_tt.ttf);
}

html {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    background-color: #010012;
    background-image: url("caclulator\ hand.png");
    background-repeat: no-repeat;
    background-position:top;
    background-attachment:local;
    display: flex;
    justify-content: center;
    align-items: stretch;
    margin-top: 275px;
}

main {
    width: 113%;
    height: 30%;
    margin-left: 22%;
    display: flex;
    flex-direction: column;
    align-items:end;
    justify-content: start;
}

#screen{
    width: 165px;
    margin-top: 3%;
    margin-left: 5%;
    font-family: 'Pocket Calculator', sans-serif;
    opacity: 70%;
    align-self: center;
}

#display {
    font-size: 45px;
    text-align: right;
}

#panel {
    margin-top: 23%;
    margin-left: 3%;
    align-self: center;
    width: 220px;
    height: 170px;
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-auto-flow: dense;
    row-gap: 6px;
    column-gap: 4px;
    padding: 0px, 5px;
}

button {
    background-color: black;
    color:aliceblue;
    border-radius: 5px;
    font-size: 15px;
    font-weight: bold;
}

#plus {
    grid-column-start: 5;
    grid-row-start: 3;
    grid-row-end: 5;
    border-bottom-right-radius: 30px 22%;
}

#clear {
    background-color: rgb(201, 6, 6);
}

.num {
    background-color: rgb(75, 72, 72);
}

#arrow {
    padding: 1px 4px;
}